<div *ngIf="object">
  <h2>{{ object.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ object.id }}</div>
  <div></div>
  <form [formGroup]="objectDetails">
    <label for="objectName">New Object Name: </label>
    <input id="objectName" type="text" formControlName="objectName" />
    <label for="objectId">New Object ID: </label>
    <input id="objectId" type="text" formControlName="objectId" />
    <button (click)="goBack()">go back</button>
  </form>

  <router-outlet></router-outlet>
